<div class="product-card">
    <h1 class="title-product">Title: {{product.title}}</h1>
    <p class="description-product">Description: {{product.description}}</p>
    <p class="price-product">${{product.price}}</p>
    <p class="category-product">Category: {{product.category}}</p>
    <img src="{{product.thumbnail}}" alt="Product photo not found" class="image-product"><br>
    <button><a href="/api/products" style="color: inherit; text-decoration: none;">Return to all product</a></button>
</div>

<link rel="stylesheet" href="/css/product.css">